html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  background: #F1EBE7;
}

.hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.main-menu-div {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center
}

.main-menu {
    margin: 0;
    color: gray;
    padding-left: 10px;
    padding-right: 60px;
}

.actual-menu-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.users-menu-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.schema-menu-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.records-menu-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title-in-mid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 25px auto;
}

.actual-menu {
    padding: 25px;
    color: red;
}

.refresh-button {
    color: red;
    padding-left: 50px;
}

.tableau {
    border: 0;
    color: black;
}

table, th, td {
    border: 0.1px dotted black;
}

#top-slog {
    color: rgb(253, 247, 255);
    background-color: rgb(162, 123, 138);
    display: block;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
